.list li {
    background: url('../img/icons/Ellipse.svg') left 9px no-repeat;
    padding   : 0px 0px 0px 15px;
}



.tariffs {

    padding-bottom: 30px;

    &_container {}

    &_buttons {
        justify-content: center;
        text-align     : center;
        margin-bottom  : clamp(1.875rem, 0.76rem + 5.58vw, 5.625rem);

    }

    &_body {
        display        : flex;
        justify-content: center;
        gap            : 14px;
        flex-wrap      : wrap;

        @media(max-width:1028px) {

            justify-content: space-evenly;
            margin         : 0 auto;

        }
    }

    &_tariff {}
}

.tariff-body-btn {
    font-weight: 700;
    font-size  : clamp(0.875rem, 0.838rem + 0.19vw, 1rem);
    line-height: 20px;
    padding    : 27px 80px;
    color      : #FFFFFF;

    transition: all .2s;

    @media(any-hover:hover) {
        &:hover {
            background-color: #15134C;

        }
    }


}

.tariff-body {
    background   : linear-gradient(180deg, #1E2242 0%, rgba(30, 34, 66, 0) 100%);
    border-radius: 5px;

    &_title {
        padding-top  : 23px;
        font-weight  : 800;
        font-size    : 30px;
        line-height  : 39px;
        color        : #FFFFFF;
        text-align   : center;
        margin-bottom: 30px;
    }

    &_text {
        line-height: 20px;

        padding: 0 15px;
    }

    &_sub-title {
        text-align: center;
    }

    &_buttons {
        display      : inline-flex;
        background   : linear-gradient(106.14deg, #18BAFF 20.27%, #564FFF 78.28%);
        border-radius: 5px;
        border       : 1px solid #564FFF;


    }

    @media(max-width:1010px) {
        margin-bottom: clamp(1.25rem, 0.971rem + 1.39vw, 2.188rem);
    }
}

.sub-title {

    &_top {
        font-weight  : 800;
        font-size    : 36px;
        line-height  : 46px;
        color        : #FFFFFF;
        margin-bottom: 6px;
    }

    &_bottom {
        font-weight  : 500;
        font-size    : 17px;
        line-height  : 21px;
        color        : #A7A7C8;
        margin-bottom: 31px;
    }
}



.tariff-body {
    position      : relative;
    min-height    : 100%;
    display       : flex;
    flex-direction: column;
}



.block-top-div {
    flex: 1 1 auto;

}

.ios {
    padding     : 19px 73px;
    margin-right: -9px;
    margin-left : 9px;

    @media(max-width:385px) {
        margin-left : 0px;
        margin-right: 0px;
    }
}

.star {
    position: absolute;
    top     : -40px;
    right   : -40px;


    @media(max-width:1034px) {
        right: 0px;
    }

    @media(max-width:952px) {
        right: -40px;
    }

    @media(max-width:413px) {
        display: none;
    }

}